<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <form action="/logs" method="post">
        <input type="text" name="title" placeholder="title"> <br>
        <input type="text" name="entry" placeholder="entry"><br>
        Ship is Broken<input type="checkbox" name="shipIsBroken" placeholder="Ship-status"> <br>
        <input type="submit" value = "add entry">
    </form>
    
</body>
</html>